body {
  background-image: url(photo-1511747779856-fd751a79aa22.avif);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: bisque;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: initial;
}

#myVideo {
  position: static;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 90%;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(107, 154, 179, 0.25);
}

.parent_container {
  background-image: url(pexels-photo-176851.jpeg);
  margin-top: 45px;
  left: 20px;
  right: 20px;
  width: 90rem;
  height: 50rem;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 10px 10px 5px 0px rgba(107, 154, 179, 0.25);
  border-radius: 10px;
}

.sub_container_left {
  width: 45%;
  height: 50rem;
}

.sub_container_left > p {
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  align-items: center;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}

.sub_container_right {
  width: 55%;
  height: 50rem;
}

.sub_container_right > .header {
  display: flex;
  justify-content: space-around;
}

input {
  display: block;
  margin-bottom: 1rem;
  border-radius: 5px;
  height: 1.5rem;
  width: 15rem;
}

input:focus {
  background-color: rgb(17, 65, 109);
}

.contact_info_1,
.contact_info_2 {
  margin-top: 4rem;
}

legend > .title {
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: rgb(51, 124, 51);
}

.footer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.footer > input[checkbox] {
  vertical-align: auto;
  position: relative;
  bottom: 1px;
  border-radius: 5px;
}

.footer > label {
  font-size: 1.2rem;
  margin-left: 6rem;
}

button {
  width: 8rem;
  height: 3rem;
  display: inline-block;
  position: absolute;
  margin-top: 6rem;
  background-image: linear-gradient(to right, rgb(37, 83, 184), rgb(5, 32, 90));
  color: bisque;
  box-shadow: 10px 10px 5px -8px rgba(107, 154, 179, 0.51);
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(to left, rgb(37, 83, 184), rgb(5, 32, 90));
}
.login {
  position: absolute;
  margin-top: 10rem;
  font-size: 1.2rem;
}

span {
  color: rgb(42, 86, 122);
  font-weight: bold;
  font-size: 1rem;
}
span:hover {
  color: rgb(91, 139, 179);
}
